@import '~normalize.css/normalize.css';
@import '@/profile/mixins.scss';
@import '@/profile/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

html {
  min-width: 300px;
}
*,
*::before,
*::after {
  font-family: 'Gilroy';
}
a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: 'Gilroy';
  src: url('~@/fonts/Gilroy-Bold.ttf');
  src: url('~@/fonts/Gilroy-Medium.ttf');
}
